<div class="side-navigation-container col-2">
  <ul class="nav flex-column">
      <li class="nav-item">
          <button class="btn nav-link active" href="#">Explore</button>
        </li>
        <li class="nav-item">
          <button class="btn nav-link" href="#">Fleets</button>
        </li>
        <li class="nav-item">
            <button class="btn nav-link" href="#">Events</button>
          </li>
        <li class="nav-item">
          <button class="btn nav-link" href="">Profile</button>
        </li>
        <li class="nav-item">
            <button class="btn nav-link" href="">Settings</button>
          </li>
  </ul>
  <div class="spacer">
  </div>
</div>